<!DOCTYPE html>
<!-- AWP_In_Variable Name='"Activar_Deshidratador1"' -->
<!-- AWP_In_Variable Name='"Activar_Deshidratador2"' -->
<!-- AWP_In_Variable Name='"Activar_Deshidratador3"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador2"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador3"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador2_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador3_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador2_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador3_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1_Final"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador2_Final"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador3_Final"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D2"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D3"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D2_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D3_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D2_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D3_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1_Final"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D2_Final"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D3_Final"' -->
<!-- AWP_In_Variable Name='"Tiempo_Histeresis_D1"' -->
<!-- AWP_In_Variable Name='"Tiempo_Histeresis_D2"' -->
<!-- AWP_In_Variable Name='"Tiempo_Histeresis_D3"' -->
<!-- AWP_In_Variable Name='"Deshidratadores"' -->
<!-- AWP_In_Variable Name='"Modos_Operacion".Modo_Preset_D1' -->
<!-- AWP_In_Variable Name='"Modos_Operacion".Modo_Preset_D2' -->
<!-- AWP_In_Variable Name='"Modos_Operacion".Modo_Preset_D3' -->
<html lang="esp">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/navStyle.css">
		<script src="js/navScript.js"></script>
		<script src="js/login.js"></script>
		<script src="js/controlDeh.js"></script>
		<script src="https://kit.fontawesome.com/b3ab30c678.js" crossorigin="anonymous"></script>
		<script>
			if (getUserName() != "Admin") {
				location.href='/awp/ServidorGrowtools/views/login.html';
			}
		</script>

		<title>Control Deshidratadores Growtools</title>

	</head>

	<body>

		<!-- AWP_Import_Fragment Name='navBar' -->

		<!-- AWP_Import_Fragment Name='sideBar' -->

		<div class="container">
			<br>
			<div class="containerHr">

				<h1>Control Operación</h1>
				<div style="display: flex; gap: 3px;">
					<input class="btn btn-success" type="button" id="buttonActDeshidratadores" value="Iniciar" coilValue="1" onmousedown="activarDeshidratadores('../IOStartDeh.html','buttonActDeshidratadores')" />

					<input class="btn btn-warning" type="button" id="buttonPausaDeshidratadores" value="Pausar" coilValue="1" onmousedown="pausarDeshidratadores('../IOPauseDeh.html','buttonPausaDeshidratadores')" />

					<input class="btn btn-danger" type="button" id="buttonDeactDeshidratadores" value="Detener" coilValue="1" onmousedown="detenerDeshidratadores('../IOStopDeh.html','buttonDeactDeshidratadores')" />
				</div>
			</div>
				<div>
					<h4>Estado Deshidratadores:
						<span id="estadoDeshidratadores" name="estadoDeshidratadores" style="float:right"></span>
					</h4>   
				</div>
			<br>

			<div class="d-flex flex-row">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading"><h2>Control Deshidratador 1</h2></div>						
						<div class="panel-body">
							<div style="display: flex; gap: 1px;">
								<div class="p-2">
									<input class="btn btn-success" type="button" id="buttonActDeshidratador1" value="Activar" coilValue="1" onmousedown="activarDeshidratador1('../IOD1Status.html','buttonActDeshidratador1')" />
								</div>
								<div class="p-2">
									<input class="btn btn-danger" type="button" id="buttonDeactDeshidratador1" value="Detener" coilValue="0" onmousedown="desactivarDeshidratador1('../IOD1Status.html','buttonDeactDeshidratador1')" />
								</div>
								<div class="ml-auto p-2">
									<input class="btn btn-warning" type="button" onclick="location.href='/awp/ServidorGrowtools/views/dashboardHumD1.html';" value="Ver grafica" />
								</div>	
								<div style="margin-left: auto;" class="ml-auto p-2">
									<input  class="btn btn-secondary" type="button" id="buttonD1Mode" value="Presets"
									coilValue="1" onmousedown="cambiarModoOperacionD1('../IOD1Mode.html','buttonD1Mode')" />
								</div>															
							</div>							
						</div>
						<div class="panel-heading">
							<h4>Estado Deshidratador 1: 
								<span id="estadoDeshidratador1" name="estadoDeshidratador1" style="float:right"></span>
							</h4>
						</div>
						<div class="panel-body">
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Definitiva (C°):
										<span id="temperaturaDeshidratador1" name="temperaturaDeshidratador1"></span>    	
									</h4>
									<input id="setTempD1", type="text" class="form-control" name='"Set_Point_Deshidratador1"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarSetPointTempD1('../IOTempD1Status.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Definitiva (%):
										<span id="humedadDeshidratador1" name="humedadDeshidratador1"></span>    	
									</h4>
									<input id="setHumD1", type="text" class="form-control" name='"Set_Point_Humedad_D1"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarSetPointHumD1('../IOHumD1Status.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Tiempo Histeresis (min):
										<span id="hystDeshidratador1" name="hystDeshidratador1"></span>    	
									</h4>
									<input id="setHystD1", type="text" class="form-control" name='"Set_Hysteresis_D1"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarHystD1('../IOD1HystStatus.html')">Cargar</button>
								</div>
							</div>							
						</div>
						<div class="panel-heading"><h4>Presets</h4></div>
						<div class="panel-body">
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Inicial (°C):
										<span id="temperaturaInicialDeshidratador1" name="temperaturaInicialDeshidratador1"></span>    	
									</h4>
									<input id="setTempD1Init", type="text" class="form-control" name='"Set_Point_Deshidratador1_Inicial"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempInitD1('../IOTempD1InitStatus.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Inicial (%):
										<span id="humedadInicialDeshidratador1" name="humedadInicialDeshidratador1"></span>    
									</h4>
									<input id="setHumD1Init", type="text" class="form-control" name='"Set_Point_Humedad_D1_Inicial"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumInitD1('../IOHumD1InitStatus.html')">Cargar</button>
								</div>
							</div>
							<hr class="mt-2 mb-3"/>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Intermedia (°C):
										<span id="temperaturaIntermediaDeshidratador1" name="temperaturaIntermediaDeshidratador1"></span>    	
									</h4>
									<input id="setTempD1Mid", type="text" class="form-control" name='"Set_Point_Deshidratador1_Intermedia"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempMidD1('../IOTempD1MidStatus.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Intermedia (%):
										<span id="humedadIntermediaDeshidratador1" name="humedadIntermediaDeshidratador1"></span>    	
									</h4>
									<input id="setHumD1Mid", type="text" class="form-control" name='"Set_Point_Humedad_D1_Intermedia"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumMidD1('../IOHumD1MidStatus.html')">Cargar</button>
								</div>
							</div>
							<hr class="mt-2 mb-3"/>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Final (°C):
										<span id="temperaturaFinalDeshidratador1" name="temperaturaFinalDeshidratador1"></span>
									</h4>
									<input id="setTempD1Final", type="text" class="form-control" name='"Set_Point_Deshidratador1_Final"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempFinalD1('../IOTempD1FinalStatus.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Final (%):
										<span id="humedadFinalDeshidratador1" name="humedadFinalDeshidratador1"></span>    	
									</h4>
									<input id="setHumD1Final", type="text" class="form-control" name='"Set_Point_Humedad_D1_Final"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumFinalD1('../IOHumD1FinalStatus.html')">Cargar</button>
								</div>
							</div>							
						</div>									
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading"><h2>Control Deshidratador 2</h2></div>
						<div class="panel-body">
							<div style="display: flex; gap: 1px">
								<div class="p-2">
									<input class="btn btn-success" type="button" id="buttonActDeshidratador2" value="Activar" coilValue="1" onmousedown="activarDeshidratador2('../IOD2Status.html','buttonActDeshidratador2')" />
								</div>
								<div class="p-2">
									<input class="btn btn-danger" type="button" id="buttonDeactDeshidratador2" value="Detener" coilValue="0" onmousedown="desactivarDeshidratador2('../IOD2Status.html','buttonDeactDeshidratador2')" />
								</div>
								<div class="ml-auto p-2">
									<input class="btn btn-warning" type="button" onclick="location.href='/awp/ServidorGrowtools/views/dashboardHumD2.html';" value="Ver grafica" />
								</div>	
								<div style="margin-left: auto;" class="ml-auto p-2">
									<input  class="btn btn-secondary" type="button" id="buttonD2Mode" value="Presets"
									coilValue="1" onmousedown="cambiarModoOperacionD2('../IOD2Mode.html','buttonD2Mode')" />
								</div>																	
							</div>							
						</div>
						<div class="panel-heading">
							<h4>Estado Deshidratador 2:
								<span id="estadoDeshidratador2" name="estadoDeshidratador2" style="float:right"></span>
							</h4>  
						</div>
						<div class="panel-body">
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Definitiva (°C):
										<span id="temperaturaDeshidratador2" name="temperaturaDeshidratador2"></span>    	
									</h4>
									<input id="setTempD2", type="text" class="form-control" name='"Set_Point_Deshidratador2"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarSetPointTempD2('../IOTempD2Status.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Definitiva (%): 
										<span id="humedadDeshidratador2" name="humedadDeshidratador2"></span>    	
									</h4>
									<input id="setHumD2", type="text" class="form-control" name='"Set_Point_Humedad_D2"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarSetPointHumD2('../IOHumD2Status.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Tiempo Histeresis (min):
										<span id="hystDeshidratador2" name="hystDeshidratador2"></span>    	
									</h4>
									<input id="setHystD2", type="text" class="form-control" name='"Set_Hysteresis_D2"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarHystD2('../IOD2HystStatus.html')">Cargar</button>
								</div>
							</div>
						</div>
						<div class="panel-heading"><h4>Presets</h4></div>
						<div class="panel-body">
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Inicial (°C):
										<span id="temperaturaInicialDeshidratador2" name="temperaturaInicialDeshidratador2"></span>    	
									</h4>
									<input id="setTempD2Init", type="text" class="form-control" name='"Set_Point_Deshidratador2_Inicial"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempInitD2('../IOTempD2InitStatus.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Inicial (%): 
										<span id="humedadInicialDeshidratador2" name="humedadInicialDeshidratador2"></span>
									</h4>
									<input id="setHumD2Init", type="text" class="form-control" name='"Set_Point_Humedad_D2_Inicial"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumInitD2('../IOHumD2InitStatus.html')">Cargar</button>
								</div>
							</div>
							<hr class="mt-2 mb-3"/>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Intermedia (°C):
										<span id="temperaturaIntermediaDeshidratador2" name="temperaturaIntermediaDeshidratador2"></span>    	
									</h4>
									<input id="setTempD2Mid", type="text" class="form-control" name='"Set_Point_Deshidratador2_Intermedia"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempMidD2('../IOTempD2MidStatus.html')">Cargar</button>
								</div>
							</div>

							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Intermedia (%): 
										<span id="humedadIntermediaDeshidratador2" name="humedadIntermediaDeshidratador2"></span>    	
									</h4>
									<input id="setHumD2Mid", type="text" class="form-control" name='"Set_Point_Humedad_D2_Intermedia"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumMidD2('../IOHumD2MidStatus.html')">Cargar</button>
								</div>
							</div>
							<hr class="mt-2 mb-3"/>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Temperatura Final (°C):
										<span id="temperaturaFinalDeshidratador2" name="temperaturaFinalDeshidratador2"></span>    	
									</h4>
									<input id="setTempD2Final", type="text" class="form-control" name='"Set_Point_Deshidratador2_Final"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempFinalD2('../IOTempD2FinalStatus.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Final (%): 
										<span id="humedadFinalDeshidratador2" name="humedadFinalDeshidratador2"></span>    	
									</h4>
									<input id="setHumD2Final", type="text" class="form-control" name='"Set_Point_Humedad_D2_Final"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumFinalD2('../IOHumD2FinalStatus.html')">Cargar</button>
								</div>
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<div class="panel-heading"><h2>Control Deshidratador 3</h2></div>
						<div class="panel-body">
							<div style="display: flex; gap: 1px;">
								<div class="p-2">
									<input class="btn btn-success" type="button" id="buttonActDeshidratador3" value="Activar" coilValue="1" onmousedown="activarDeshidratador3('../IOD3Status.html','buttonActDeshidratador3')" />
								</div>
								<div class="p-2">
									<input class="btn btn-danger" type="button" id="buttonDeactDeshidratador3" value="Detener" coilValue="0" onmousedown="desactivarDeshidratador3('../IOD3Status.html','buttonDeactDeshidratador3')" />
								</div>
								<div class="ml-auto p-2">
									<input class="btn btn-warning" type="button" onclick="location.href='/awp/ServidorGrowtools/views/dashboardHumD3.html';" value="Ver grafica" />
								</div>
								<div style="margin-left: auto;" class="ml-auto p-2">
									<input  class="btn btn-secondary" type="button" id="buttonD3Mode" value="Presets"
									coilValue="1" onmousedown="cambiarModoOperacionD3('../IOD3Mode.html','buttonD3Mode')" />
								</div>																		
							</div>							
						</div>
						<div class="panel-heading">
							<h4>Estado Deshidratador 3:
								<span id="estadoDeshidratador3" name="estadoDeshidratador3" style="float:right"></span>
							</h4> 					
						</div>
						<div class="panel-body">
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<h4>Set Point Temperatura Definitiva (°C):
										<span id="temperaturaDeshidratador3" name="temperaturaDeshidratador3"></span>    	
									</h4>
									<input id="setTempD3", type="text" class="form-control" name='"Set_Point_Deshidratador3"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarSetPointTempD3('../IOTempD3Status.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Definitiva (%):
										<span id="humedadDeshidratador3" name="humedadDeshidratador3"></span>    	
									</h4>
									<input id="setHumD3", type="text" class="form-control" name='"Set_Point_Humedad_D3"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarSetPointHumD3('../IOHumD3Status.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Tiempo Histeresis (min):
										<span id="hystDeshidratador3" name="hystDeshidratador3"></span>    	
									</h4>
									<input id="setHystD3", type="text" class="form-control" name='"Set_Hysteresis_D3"'/>
									<br>
									<button type="submit" class="btn btn-warning" onclick="cargarHystD3('../IOD3HystStatus.html')">Cargar</button>
								</div>
							</div>							
						</div>
						<div class="panel-heading"><h4>Presets</h4></div>
						<div class="panel-body">
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<h4>Set Point Temperatura Inicial (°C):
										<span id="temperaturaInicialDeshidratador3" name="temperaturaInicialDeshidratador3"></span>    	
									</h4>
									<input id="setTempD3Init", type="text" class="form-control" name='"Set_Point_Deshidratador3_Inicial"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempInitD3('../IOTempD3InitStatus.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Inicial (%):
										<span id="humedadInicialDeshidratador3" name="humedadInicialDeshidratador3"></span>    	
									</h4>
									<input id="setHumD3Init", type="text" class="form-control" name='"Set_Point_Humedad_D3_Inicial"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumInitD3('../IOHumD3InitStatus.html')">Cargar</button>
								</div>
							</div>
							<hr class="mt-2 mb-3"/>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<h4>Set Point Temperatura Intermedia (°C):
										<span id="temperaturaIntermediaDeshidratador3" name="temperaturaIntermediaDeshidratador3"></span>    	
									</h4>
									<input id="setTempD3Mid", type="text" class="form-control" name='"Set_Point_Deshidratador3_Intermedia"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempMidD3('../IOTempD3MidStatus.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Intermedia (%):
										<span id="humedadIntermediaDeshidratador3" name="humedadIntermediaDeshidratador3"></span>    	
									</h4>
									<input id="setHumD3Mid", type="text" class="form-control" name='"Set_Point_Humedad_D3_Intermedia"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumMidD3('../IOHumD3MidStatus.html')">Cargar</button>
								</div>
							</div>
							<hr class="mt-2 mb-3"/>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<h4>Set Point Temperatura Final (°C):
										<span id="temperaturaFinalDeshidratador3" name="temperaturaFinalDeshidratador3"></span>
									</h4>
									<input id="setTempD3Final", type="text" class="form-control" name='"Set_Point_Deshidratador3"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointTempFinalD3('../IOTempD3FinalStatus.html')">Cargar</button>
								</div>
							</div>
							<div class="panel-body">
								<div style="display: flex; gap: 3px;">
									<br>
									<h4>Set Point Humedad Final (%):
										<span id="humedadFinalDeshidratador3" name="humedadFinalDeshidratador3"></span>    	
									</h4>
									<input id="setHumD3Final", type="text" class="form-control" name='"Set_Point_Humedad_D3"'/>
									<br>
									<button type="submit" class="btn btn-info" onclick="cargarSetPointHumFinalD3('../IOHumD3FinalStatus.html')">Cargar</button>
								</div>	
							</div>													
						</div>													
					</div>
				</div>
			</div>
		</div>
	</body>
</html>