<!doctype html>

<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/navStyle.css">
    <script src="js/navScript.js"></script>
    <script src="js/login.js"></script>
    <script src="js/dashboardHumD2.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/b3ab30c678.js" crossorigin="anonymous"></script>
    <script>
        if (getUserName() != "Admin") {
            location.href='/awp/ServidorGrowtools/views/login.html';
        }
    </script>

    <title>Growtools</title>

  </head>

  <body onload="generateGraph()">

    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/awp/ServidorGrowtools/views/controlDeh.html">
                    <img id="logo-img" src="img/logo.png">
                </a>
                <button type="button" class="btn btn-danger navbar-btn navbar-right"><a href="/FormLogin?LOGOUT">SALIR</a></button>            
            </div>
        </div>
    </nav>

	<div id="wrapper">
		<div class="overlay"></div>
	
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
			<ul class="nav sidebar-nav">
				<li class="sidebar-brand">
					<a href="/awp/ServidorGrowtools/views/controlDeh.html">
					   <img id="logo-img" src="img/logo.png" width="150" height="70">
					</a>
				</li>
<!-- 					<li class="dropdown-main">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuarentena <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="/awp/ServidorGrowtools/views/accessQuar.html">Control Ingreso</a></li>
					<li><a href="/awp/ServidorGrowtools/views/dashboardQuar.html">Control Ambiente</a></li>
				  </ul>
				</li> -->
				<li class="dropdown-main">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Deshidratación <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<!-- <li><a href="/awp/ServidorGrowtools/views/accessDeh.html">Control Ingreso</a></li> -->
					<li><a href="/awp/ServidorGrowtools/views/controlDeh.html">Control Deshidratadores</a></li>
					<li><a href="/awp/ServidorGrowtools/views/dashboardDeh.html">Control Ambiente</a></li>
				  </ul>
				</li>
<!-- 					<li class="dropdown-main">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transformación <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="/awp/ServidorGrowtools/views/accessTrans.html">Control Ingreso</a></li>
					<li><a href="/awp/ServidorGrowtools/views/securitySystem.html">Sistema de Seguridad</a></li>
					<li><a href="/awp/ServidorGrowtools/views/enableOperation.html">Habilitación de Operacion</a></li>
				  </ul>
				</li> -->
				<li class="dropdown-main">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blockchain <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="/awp/ServidorGrowtools/views/controlData.html">Control Datos</a></li>
				  </ul>
				</li>                
			</ul>
		</nav>
	
		<div id="page-content-wrapper">
			<button type="button" class="btn btn-lg custom-btn" data-toggle="offcanvas">
				Acciones  <i class="fa fa-bars"></i>
			</button>
		</div>

	</div>
	
	<div class="container">
		<h2>Humedad Deshidratador 2</h2>
		<div class="content" id="chartHumD2-div">
			<div class="content-div">
				<canvas id="chartHumD2" height="300"> </canvas>
			</div>
		</div>
		<div style="display: flex; gap: 1px;">
			<div>
				<button type="button" class="btn btn-success" onmousedown="abrirLog()">Abrir Log</button>
			</div>
			<div>
				<button type="button" class="btn btn-primary" onclick=window.location.href="/awp/ServidorGrowtools/views/dashboardTempD2.html">Temperatura</button>
			</div>
		</div>
	</div>
  </body>
</html>