<!doctype html>
<!-- AWP_In_Variable Name='"Abrir_Puerta_Laboratorio"' -->
<!-- AWP_In_Variable Name='"Abrir_Puerta_Cuarentena"' -->
<!-- AWP_In_Variable Name='"Abrir_Puerta_Deshidratacion"' -->

<html lang="esp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/navStyle.css">
    <script src="js/navScript.js"></script>
    <script src="js/login.js"></script>
    <script src="https://kit.fontawesome.com/b3ab30c678.js" crossorigin="anonymous"></script>
    <script>
        if (getUserName() != "Admin") {
            location.href='/awp/ServidorGrowtools/login.html';
        }
    </script>
	<script type="text/javascript" src="js/smoothie2.js"></script>

    <title>Growtools</title>

    <script type="text/javascript">

        var abrirLog = function(arg) {
            switch (arg) {
                case 'gas':
                    var win = window.open('https://docs.google.com/spreadsheets/d/19ZG5FnKxOcloI2sNteoaS4dAYpbo8sDzF4t6TaEioVw/edit?usp=sharing', '_blank');
                    break;
                case 'puertas':
                    var win = window.open('https://docs.google.com/spreadsheets/d/1xVm22p5bI9zRac76eInaV92vStQacyuw8UdqQowQ9X4/edit?usp=sharing', '_blank');
                    break;
                case 'fallos':
                    var win = window.open('https://docs.google.com/spreadsheets/d/1Cv9b7RrOuYaSNUaHDnREU7TJyJ6m3sTF854U-lpMcqE/edit?usp=sharing', '_blank');
                    break;
            }
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }
        }

    </script>

  </head>

  <body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/awp/ServidorGrowtools/index.html">
                    <img id="logo-img" src="img/logo.png">
                </a>
                <button type="button" class="btn btn-danger navbar-btn navbar-right"><a href="/FormLogin?LOGOUT">SALIR</a></button>            
            </div>
        </div>
    </nav>

    <div id="wrapper">
        <div class="overlay"></div>
    
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/awp/ServidorGrowtools/index.html">
                       <img id="logo-img" src="img/logo.png" width="144" height="70">
                    </a>
                </li>
                <li class="dropdown-main">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuarentena <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/awp/ServidorGrowtools/accessQuar.html">Control Ingreso</a></li>
                    <li><a href="/awp/ServidorGrowtools/dashboardQuar.html">Control Ambiente</a></li>
                  </ul>
                </li>
                <li class="dropdown-main">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Deshidratación <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/awp/ServidorGrowtools/accessDeh.html">Control Ingreso</a></li>
                    <li><a href="/awp/ServidorGrowtools/controlDeh.html">Control Deshidratadores</a></li>
                    <li><a href="/awp/ServidorGrowtools/dashboardDeh.html">Control Ambiente</a></li>
                  </ul>
                </li>
                <li class="dropdown-main">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transformación <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/awp/ServidorGrowtools/accessTrans.html">Control Ingreso</a></li>
                    <li><a href="/awp/ServidorGrowtools/securitySystem.html">Sistema de Seguridad</a></li>
                    <li><a href="/awp/ServidorGrowtools/enableOperation.html">Habilitación de Operacion</a></li>
                  </ul>
                </li>                
                
            </ul>
        </nav>
    
        <div id="page-content-wrapper">
            <button type="button" class="btn btn-lg custom-btn" data-toggle="offcanvas">
                Areas  <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>

    <div class = "container">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Registros de Alarmas</h1></div>
            <div class="panel-body">
                <div style="text-align: center;">
                    <div>
                        <button type="button" class="btn btn-success" onmousedown="abrirLog('gas')">Registro Alarma Gases</button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-success" onmousedown="abrirLog('puertas')">Registro Alarma Puertas</button>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="btn btn-success" onmousedown="abrirLog('fallos')">Registro Alarma Fallos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>